In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 5.4MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 313kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 41.3MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Installing collected packages: munch, cligj, click-plugins, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [ ]:
!pip install keplergl

Collecting keplergl
  Downloading https://files.pythonhosted.org/packages/0c/2c/a2d742fc409de354cb2f8f57b802cbb2e1b18e372e755d99a95314adfd73/keplergl-0.2.2.tar.gz (7.9MB)
     |████████████████████████████████| 7.9MB 5.1MB/s
Requirement already satisfied: ipywidgets<8,>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from keplergl) (7.6.3)
Collecting traittypes>=0.2.1
  Downloading https://files.pythonhosted.org/packages/9c/d1/8d5bd662703cc1764d986f6908a608777305946fa634d34c470cd4a1e729/traittypes-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: geopandas>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from keplergl) (0.9.0)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from keplergl) (1.1.5)
Requirement already satisfied: Shapely>=1.6.4.post2 in /usr/local/lib/python3.7/dist-packages (from keplergl) (1.7.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.1.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (1.0.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.0.5)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (4.10.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas>=0.5.0->keplergl) (1.8.19)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas>=0.5.0->keplergl) (3.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->keplergl) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->keplergl) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->keplergl) (2018.9)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (4.7.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (56.0.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (2.6.1)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (5.3.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (5.3.5)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (0.7.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (20.3.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (2.5.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (2020.12.5)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (1.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.2.5)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.9.4)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.5.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (2.11.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (22.0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.4.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.4.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (3.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.1.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (2.4.7)
Building wheels for collected packages: keplergl
  Building wheel for keplergl (setup.py) ... done
  Created wheel for keplergl: filename=keplergl-0.2.2-py2.py3-none-any.whl size=15942747 sha256=e8640442a88fe3a55c468ced65e44350c9834a0a785cccce52a3c9218b8d0109
  Stored in directory: /root/.cache/pip/wheels/0e/78/c4/04ea0dbf6447ad708393751cd6ea453fb682f4c1c734f2247b
Successfully built keplergl
Installing collected packages: traittypes, keplergl
Successfully installed keplergl-0.2.2 traittypes-0.2.1

In [ ]:
import os
import glob

import matplotlib.pyplot as plt

import pandas as pd
import geopandas as gpd

from keplergl import KeplerGl

# Data processing

In [ ]:
vacsi_dep = 'df_vacc.csv'
#df_vacsi = pd.read_csv(vacsi_dep, delimiter =';')
df_vacsi = pd.read_csv(vacsi_dep)
df_vacsi = df_vacsi[1:]
df_vacsi['date'] = pd.to_datetime(df_vacsi['date'])
df_vacsi.head(10)

    Unnamed: 0 where       date  tot_vacc  daily  weekly codelocation  cumul
1            1    01 2020-03-19       0.0    0.0     0.0           01    0.0
2            2    01 2020-03-20       0.0    0.0     0.0           01    0.0
3            3    01 2020-03-21       0.0    0.0     0.0           01    0.0
4            4    01 2020-03-22       0.0    0.0     0.0           01    0.0
5            5    01 2020-03-23       0.0    0.0     0.0           01    0.0
6            6    01 2020-03-24       0.0    0.0     0.0           01    0.0
7            7    01 2020-03-25       0.0    0.0     0.0           01    0.0
8            8    01 2020-03-26       0.0    0.0     0.0           01    0.0
9            9    01 2020-03-27       0.0    0.0     0.0           01    0.0
10          10    01 2020-03-28       0.0    0.0     0.0           01    0.0

In [ ]:
#day data

df_jour = df_vacsi['date'].drop_duplicates()
max = df_jour.max()

In [ ]:
max

Timestamp('2021-04-11 00:00:00')

In [ ]:
df_jour

1     2020-03-19
2     2020-03-20
3     2020-03-21
4     2020-03-22
5     2020-03-23
         ...
386   2021-04-08
387   2021-04-09
388   2021-04-10
389   2021-04-11
390   2020-03-18
Name: date, Length: 390, dtype: datetime64[ns]

In [ ]:
#preprocessing

df_vacsi['code'] = df_vacsi['codelocation']

temp_df = dict()
for i in df_jour :
    temp_df[i] = df_vacsi.loc[ df_vacsi['date'] == i]
dict_df = dict()
for key, df in temp_df.items() :
    dict_df[key] = df.groupby('code').max().drop(['where','Unnamed: 0'], axis=1)
    
dict_df[max].head()

           date  tot_vacc  daily   weekly codelocation    cumul
code
01   2021-04-11   85073.0    0.0  16156.0           01  85073.0
02   2021-04-11   79669.0    0.0  11366.0           02  79669.0
03   2021-04-11   68130.0    0.0   7628.0           03  68130.0
04   2021-04-11   31674.0    0.0   3466.0           04  31674.0
05   2021-04-11   28179.0    0.0   3775.0           05  28179.0

In [ ]:
geospatial_data  = 'departements-avec-outre-mer.geojson'
f = gpd.read_file(geospatial_data)
f = f.set_index('code')
f = f.sort_index(axis=0)

f.head()

                          nom                                           geometry
code
01                        Ain  POLYGON ((4.78021 46.17668, 4.78024 46.18905, ...
02                      Aisne  POLYGON ((3.17296 50.01131, 3.17382 50.01186, ...
03                     Allier  POLYGON ((3.03207 46.79491, 3.03424 46.79080, ...
04    Alpes-de-Haute-Provence  POLYGON ((5.67604 44.19143, 5.67817 44.19051, ...
05               Hautes-Alpes  POLYGON ((6.26057 45.12685, 6.26417 45.12641, ...

In [ ]:
dict_vaccin = dict()
for i in df_jour :
    dict_vaccin[i] = pd.concat([f,dict_df[i]], axis = 1)
dict_vaccin[max].head(1000)

                          nom  ...    cumul
code                           ...
01                        Ain  ...  85073.0
02                      Aisne  ...  79669.0
03                     Allier  ...  68130.0
04    Alpes-de-Haute-Provence  ...  31674.0
05               Hautes-Alpes  ...  28179.0
...                       ...  ...      ...
971                Guadeloupe  ...  11767.0
972                Martinique  ...  23245.0
973                    Guyane  ...  12191.0
974                La Réunion  ...  45769.0
976                   Mayotte  ...  11005.0

[101 rows x 8 columns]

In [ ]:
min = df_jour.min()
dict_vaccin[min]

                         nom  ... cumul
01                       Ain  ...   NaN
02                     Aisne  ...   0.0
03                    Allier  ...   0.0
04   Alpes-de-Haute-Provence  ...   0.0
05              Hautes-Alpes  ...   0.0
..                       ...  ...   ...
971               Guadeloupe  ...   0.0
972               Martinique  ...   0.0
973                   Guyane  ...   0.0
974               La Réunion  ...   0.0
976                  Mayotte  ...   0.0

[101 rows x 7 columns]

In [ ]:
import numpy as np

test_ts_vac = pd.concat([dict_vaccin[min], dict_vaccin[max]])

test_ts_vac = test_ts_vac.dropna()

#test_ts_vac['date'] = test_ts_vac['date'].astype(str) +' '+ '00:00'

In [ ]:
test_ts_vac

                         nom  ...    cumul
02                     Aisne  ...      0.0
03                    Allier  ...      0.0
04   Alpes-de-Haute-Provence  ...      0.0
05              Hautes-Alpes  ...      0.0
06           Alpes-Maritimes  ...      0.0
..                       ...  ...      ...
971               Guadeloupe  ...  11767.0
972               Martinique  ...  23245.0
973                   Guyane  ...  12191.0
974               La Réunion  ...  45769.0
976                  Mayotte  ...  11005.0

[201 rows x 7 columns]

In [ ]:
test_ts_vac.to_csv('test_ts_vacc1.csv', index=True)

In [ ]:
ts_vacc = pd.concat(dict_vaccin, axis=0)
ts_vacc.sort_index(ascending=True)
ts_vacc['nom'] = ts_vacc['codelocation'] +' - '+ ts_vacc["nom"]
ts_vacc.tail(500)

                                  nom  ...     cumul
           code                        ...
2021-04-08 06    06 - Alpes-Maritimes  ...  235279.0
           07            07 - Ardèche  ...   54438.0
           08           08 - Ardennes  ...   45271.0
           09             09 - Ariège  ...   28203.0
           10               10 - Aube  ...   51327.0
...                               ...  ...       ...
2020-03-18 971       971 - Guadeloupe  ...       0.0
           972       972 - Martinique  ...       0.0
           973           973 - Guyane  ...       0.0
           974       974 - La Réunion  ...       0.0
           976          976 - Mayotte  ...       0.0

[500 rows x 8 columns]

In [ ]:
ts_vacc = ts_vacc.dropna()
#ts_vacc['date'] = ts_vacc['date'].astype(str) +' '+ '00:00'
ts_vacc.tail(500)

                                  nom  ...     cumul
           code                        ...
2021-04-08 05       05 - Hautes-Alpes  ...   26620.0
           06    06 - Alpes-Maritimes  ...  235279.0
           07            07 - Ardèche  ...   54438.0
           08           08 - Ardennes  ...   45271.0
           09             09 - Ariège  ...   28203.0
...                               ...  ...       ...
2020-03-18 971       971 - Guadeloupe  ...       0.0
           972       972 - Martinique  ...       0.0
           973           973 - Guyane  ...       0.0
           974       974 - La Réunion  ...       0.0
           976          976 - Mayotte  ...       0.0

[500 rows x 8 columns]

In [ ]:
tvac = ts_vacc[29492:-100]

In [ ]:
tvac = tvac.drop(["geometry"],axis=1)

KeyError: ignored

In [ ]:
tvac = tvac.drop(["codelocation"],axis=1)
tvac

KeyError: ignored

In [ ]:
tvac

                                          nom       date  ...  weekly    cumul
           code                                           ...
2021-01-05 01                        01 - Ain 2021-01-05  ...     0.0      0.0
           02                      02 - Aisne 2021-01-05  ...     0.0      0.0
           03                     03 - Allier 2021-01-05  ...     0.0      0.0
           04    04 - Alpes-de-Haute-Provence 2021-01-05  ...     4.0      4.0
           05               05 - Hautes-Alpes 2021-01-05  ...     6.0      8.0
...                                       ...        ...  ...     ...      ...
2021-04-11 971               971 - Guadeloupe 2021-04-11  ...  1271.0  11767.0
           972               972 - Martinique 2021-04-11  ...  6221.0  23245.0
           973                   973 - Guyane 2021-04-11  ...  1850.0  12191.0
           974               974 - La Réunion 2021-04-11  ...  6350.0  45769.0
           976                  976 - Mayotte 2021-04-11  ...   867.0  11005.0

[9797 rows x 6 columns]

In [ ]:
tvac.to_csv('vac_code_nom_dep.csv', index= True)

In [ ]:
tvac_light = tvac[7000:]
tvac_light

                             nom  ...     cumul
           code                   ...
2021-03-20 34            Hérault  ...  115611.0
           35    Ille-et-Vilaine  ...   97074.0
           36              Indre  ...   26683.0
           37     Indre-et-Loire  ...   55094.0
           38              Isère  ...  118898.0
...                          ...  ...       ...
2021-04-11 971        Guadeloupe  ...   11767.0
           972        Martinique  ...   23245.0
           973            Guyane  ...   12191.0
           974        La Réunion  ...   45769.0
           976           Mayotte  ...   11005.0

[2289 rows x 7 columns]

In [ ]:
tvac_Xlight = tvac_light[1500:]
tvac_Xlight

                           nom  ...     cumul
           code                 ...
2021-04-04 21        Côte-d'Or  ...   86870.0
           22    Côtes-d'Armor  ...  112305.0
           23           Creuse  ...   21104.0
           24         Dordogne  ...   63341.0
           25            Doubs  ...   72411.0
...                        ...  ...       ...
2021-04-11 971      Guadeloupe  ...   11767.0
           972      Martinique  ...   23245.0
           973          Guyane  ...   12191.0
           974      La Réunion  ...   45769.0
           976         Mayotte  ...   11005.0

[789 rows x 7 columns]

In [ ]:
tvac_Xlight.to_csv('ts_vacc_LX1.csv', index= True)

In [ ]:
tvac_light.to_csv('ts_vacc_L.csv', index= True)

In [ ]:
map_vaccin_2D = KeplerGl(height=500, config=config)
map_vaccin_2D.add_data(dict_vaccin[max], name ='vaccin')
map_vaccin_2D

NameError: ignored

In [ ]:
config_2D = map_coronavirus_2D.config

NameError: ignored

In [ ]:
# Save map_1 config to a file
with open('config_2D.py', 'w') as f:
    f.write('config = {}'.format(config_2D))